project:
  type: website

website:
  title: "Bowen de Gouw"
  site-url: https://bdegouw.github.io/
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: Additional.qmd
      - text: Additional

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



